# Tour of Transformer Applications

## Preliminaries

In [1]:
import pandas as pd
from transformers import pipeline

In [3]:
# Sample Text

text = """The sun cast a warm, golden hue over the town of Townsville, filling every corner with a radiant glow. 
Children's laughter echoed through Main Street as they chased after one another, their faces lit up with pure joy. 
Birds sang harmoniously from the treetops near Central Park, their melodies intertwining with the gentle hum of life below. 
Everywhere you looked, there were signs of happiness and contentment. Mr. Johnson and Mrs. Smith greeted each other with 
genuine smiles outside the Townsville Cafe, sharing stories and creating memories. It was one of those days where everything 
felt right in the world, and a deep sense of gratitude filled the hearts of all who were fortunate enough to experience it."""

## Text Classification

In [ ]:
# Obtain text classification pipeline
classifier = pipeline("text-classification")

In [19]:
# Obtain classification outputs

outputs = classifier(text)
pd.DataFrame(outputs)

      label     score
0  POSITIVE  0.999867

---

## Named Entity Recognition

In [ ]:
# Intialize ner pipeline
ner_tagger = pipeline("ner", aggregation_strategy="simple")

In [16]:
# Obtain named entity recognition outputs
outputs = ner_tagger(text)
pd.DataFrame(outputs)

  entity_group     score             word  start  end
0          LOC  0.998360       Townsville     49   59
1          LOC  0.961294      Main Street    138  149
2          LOC  0.994377     Central Park    265  277
3          PER  0.998310          Johnson    416  423
4          PER  0.996285            Smith    433  438
5          LOC  0.776872  Townsville Cafe    490  505

---

## Question Answering

In [ ]:
# Intialize question answering pipeline
qna_pipeline = pipeline("question-answering")

In [22]:
question = "What is the name of the town in the text?"

# Obtain question answering outputs
outputs = qna_pipeline(question=question, context=text)
pd.DataFrame([outputs])

      score  start  end      answer
0  0.942854     49   59  Townsville

---

## Summarization

In [ ]:
# Initialize summarizer
summarizer = pipeline("summarization")

In [27]:
# Obtain summarization outputs
outputs = summarizer(
    text, max_length=70, min_length=10, clean_up_tokenization_spaces=True
)
print(outputs[0]["summary_text"])

 The sun cast a warm, golden hue over Townsville, filling every corner with a radiant glow. Children's laughter echoed through Main Street as they chased after one another, their faces lit up with pure joy. Birds sang harmoniously from the treetops near Central Park, their melodies intertwining with the gentle hum of life below.

---

## Translation

In [ ]:
# Initialize translation pipeline
translator = pipeline("translation_en_to_de", model="Helsinki-NLP/opus-mt-en-de")

In [5]:
# Obtain outputs
outputs = translator(text, clean_up_tokenization_spaces=True, min_length=100)
print(outputs[0]["translation_text"])

Die Sonne strahlte einen warmen, goldenen Farbton über die Stadt Townsville und füllte jede Ecke mit einem strahlenden Glanz. Kinderlachen hallte durch die Main Street, als sie einander nachjagten, ihre Gesichter leuchteten vor purer Freude auf. Vögel sangen harmonisch von den Baumkronen in der Nähe des Central Park, ihre Melodien verbanden sich mit dem sanften Summen des Lebens darunter. Überall, wo man hinsah, gab es Anzeichen von Glück und Zufriedenheit. Mr. Johnson und Mrs. Smith begrüßten sich gegenseitig mit echtem Lächeln außerhalb des Townsville Cafes, erzählten Geschichten und schufen Erinnerungen. Es war einer jener Tage, an denen sich alles richtig anfühlte, und ein tiefes Gefühl der Dankbarkeit erfüllte die Herzen aller, die das Glück hatten, es zu erleben.

---

## Text Generation

In [ ]:
# Initialize text generation pipeline
generator = pipeline("text-generation")

In [20]:
# Obtain outputs

response = "Mr. Johnson asked Mrs. Smith if a cappuccino was available"
prompt = text + "\n\n Model Response \n" + response
outputs = generator(prompt, max_length=220)
print(outputs[0]["generated_text"])

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

The sun cast a warm, golden hue over the town of Townsville, filling every corner with a radiant glow.
Children's laughter echoed through Main Street as they chased after one another, their faces lit up with pure joy.
Birds sang harmoniously from the treetops near Central Park, their melodies intertwining with the gentle hum of life below.
Everywhere you looked, there were signs of happiness and contentment. Mr. Johnson and Mrs. Smith greeted each other with
genuine smiles outside the Townsville Cafe, sharing stories and creating memories. It was one of those days where everything
felt right in the world, and a deep sense of gratitude filled the hearts of all who were fortunate enough to experience it.

 Model Response
Mr. Johnson asked Mrs. Smith if a cappuccino was available for her and she replied, "No. I only bought one to help with a trip up to St. Croix."
A few minutes later, there was a call from Ms. Smith to pick up a cactus

---